* {
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0;
}

header {
	position: absolute;
	z-index: 100;
	top: 0;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.9);
	grid-column: -1 / 1;
	border-width: 0 0 5px 0;
	border-color: #eba434;
	border-style: solid; 
	box-shadow: 0px 3px 26px 0px rgba(0,0,0,1);
}

header h1, h2{
	text-shadow: 0px 1px 2px rgba(256,256,256,0.5);
	font-weight: normal;
	margin: 0;
}

header::before {
	content: '';
	background: #eba434;
	width: 20px;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: skew(-16deg);
}

.title {
	position: absolute;
	left: 200px;
}

.volver {
	color: #fff;
	text-decoration: none;
	font-size: 150%;
	background-color:#eba434;
	padding: 20px;
	border-radius: 10%;
	text-shadow: 2px 2px 2px #000;
}

.ismeris {
	position: absolute;
	right: 200px;
}

.nombre {
	transform: translateX(-130px);
}

.vendedora {
	position: relative;
	transform: translateX(110px);
}

.vendedora span {
	color: #eba434;
	text-shadow: none;
	position: absolute;
	left: -35px;
	bottom: -4px;
	font-size: 200%
}


main {
	width: 80%;
	padding: 30vh 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#carrusel {	
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	padding: 0 0 30px 0;
}

.normal {
	position: relative;
	width: 100%;
	height: 400px;
	background: rgba(0,0,0,0.9);
	border-width: 5px 0 5px 0;
	border-style: solid;
	border-color: #eba434;
	box-shadow: 0px 5px 23px -2px rgba(0,0,0,1);
}

.full {
	position: fixed !important;
	top:0 !important;
	left: 0 !important;
	right: 0 !important;
	height:100% !important;
	border:none !important;
	background:#000 !important;			
	padding: 0 0 50px 0 !important;
}

.full .image-x{
	height: 70%;
}

.full .image-y{
	height: 80%;
}

#close {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider-wrap {
	width: 70%;
	height: 90%;
	overflow: hidden;
}

#slider {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	transition: transform 0.3s linear;
}

#ver {
	position: absolute;
	top: -56px;
	right: 50px;
	background: #eba434;
	color: #fff;
	height: 20px;
	width: 300px;
	padding: 10px;
	box-shadow: 0px 5px 23px 2px rgba(0,0,0,0.8);
	text-shadow: 2px 2px 2px #000;
	z-index: 1;
	text-align: center;
	cursor: pointer;
	border-radius: 25% 25% 0 0;
	transition: all 0.3s linear;
}

#ver:hover {
	background: #fff;
	color: #000;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
} 

#prev, #next{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:none;
	background: #eba434;
	color: #fff;
	font-size: 250%;
	transition: background, color 0.3s linear;
}

#prev:hover, #next:hover {
	background: #fff;
	color: #000;
}

#prev {
	left: 10px;
}

#next {
	right: 10px;
}

.button-bottom {
	top: 82% !important;
}

.image-x {
	width: 100%;
	height: 100%;
}

.image-y {
	margin: 0 25% 0 25%;
	width: 50%;
	height: 100%;
	max-width: 600px;
}

#dot-wrap {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 10px;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 10px 0 10px;
	background-color: rgba(256,256,256,0.5);
	border-radius: 50%;
}

.active {
	background-color: #eba434;
}

#comprar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #fff;
	margin: 10vh 0 0 0;
	width: 50%;
	background: rgba(0,0,0,0.9);
	padding: 15px;
	box-shadow: 0px 0px 16px -3px rgba(0,0,0,1);
	border-width: 0 5px 0 5px;
	border-color: #eba434;
	border-style: solid;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 0px 2px 2px #000;
}

#comprar div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	height: 35px;
	width: 35px;
	margin: 0 10px 0 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(3,100px);
	width: 80%;
	margin: 10vh 0 10vh 0;
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,1);
}

.grid div {
	position: relative;
	width: 100%;
	height: 100%;
	border: 3px #eba434 solid;
	background: rgba(0,0,0,0.9);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.grid img {
	width: 50px;
	height: 50px;
	margin: 0 20px 0 20px;
}

.grid div:last-of-type {
	grid-column: -1/1;
}

.yellow-badge {
	position: absolute;
	right: 30px;
	bottom: -3%;
	color: #fff;
	background-color:rgba(0,0,0,0.1);
	border-radius: 20%;
	padding: 15px;
	font-size: 150%;
	border: 2px #eba434 solid;
	text-shadow: 1px 1px 1px rgba(256,256,256,0.5);
}

.moreRight {
	right: 26px;
}

@media (max-width: 1200px) {
.title {
	left: 100px;
}

.ismeris {
	right: 130px;
}	
}

@media (max-width: 1000px) {
.title {
	font-size: 90%;
}

.ismeris {
	font-size:80%;
}

.nombre {
	transform: translateX(-90px);
}

header::before {
	width: 10px;
}
main {
	width: 100%;
}
}

@media (max-width: 820px) {
.ismeris {
	font-size:60%;
}
.nombre {
	transform: translateX(-50px);
}
.vendedora {
	transform: translateX(100px);
}
.vendedora span {
	left: -28px;
}
.title {
	font-size: 70%;
}
.grid {
	width: 95%;
	grid-template-rows: repeat(3,60px);
}
.grid div {
	border-width: 2px
}
.grid img{
	width: 20px;
	height: 20px;
}
.grid h2{
	font-size: 100%;
}
.yellow-badge{
	font-size: 80%;
	padding: 10px;
	right: 10px;
	bottom: 0%;
}

}

@media (max-width: 660px) {
header {
	height: 50px;
	border-width: 0 0 2px 0;
}
header::before {
	width: 5px;
	left: 45%;
}
.title {
	left: 60px;
	font-size:60%;
}
.volver {
	padding: 10px;
}
.ismeris {
	right: 110px;
}
#carrusel {
	top: 52px;
	height: 350px;
}
.slider-wrap {
	width: 70%;
}
#prev, #next{
	top: 90%;
	width: 30px;
	height: 30px;
	font-size: 100%;
	z-index: 1000;
}
#prev {
	left: 15px;
}
#next {
	right: 15px;
}
.dot {
	height: 5px;
	width: 5px;
}
main{
	padding: 10vh 0 0 0;
}
#ver {
	top: -44px;
	right: 40px;
	width: 200px;
	padding: 5px;
	font-size: 80%;
}
#comprar {
	margin: 15vh 0 0 0;
	width: 90%;
}
}

@media (max-width: 560px) {
.title {
	left: 30px;
	font-size:50%;
}
header::before {
	left: 38%;
}
.slider-wrap {
	width: 98%;
}
}

@media (max-width: 500px) {
.title {
	left: 18px;
	font-size: 40%;
}
header::before {
	left: 28%;
}
.grid img {
	margin: 0 5px 0 5px;
}
.grid p {
	font-size: 80%;
}
.yellow-badge{
	border-width: 1px;
	padding: 3px;
	bottom:12%;
}
}

@media (max-width: 450px) {
#carrusel{
	height: 250px;
}
#ver{
	padding: 2px;
	top: -36px;
	right: 15px;
	font-size: 70%;
}
.ismeris {
	font-size:40%;
}
.nombre {
	transform: translateX(0px);
}
.vendedora span {
	left: -18px;
}
header::before {
	left: 40%;
	width: 3px;
}
#prev, #next{
	top: 88%;
}
#comprar{
	font-size: 70%;
	letter-spacing: 3px;
	width: 80%;
}
#comprar img{
	height: 25px;
	width: 25px;
}
.grid {
	margin: 5vh 0 0 0;
}
}

@media (max-width: 360px) {
.title {
	left: 10px;
	font-size:35%;
}
header::before {
	left: 35%;
	width: 3px;
}
.grid h2 {
	font-size: 70%;
}
}